/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/navbar/navbar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
/* 
.container {

    position: fixed !important;
    top: 0;
  
    z-index:999;

}

.container .astrohead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 1200px;
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(20px);
    box-shadow: inset 3px 3px 10px #371c57, inset -3px -3px 10px #5e307d;
    background-color: #2f1254;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}
.astronavlinks {
    display: flex;
    gap: 20px;
    position: relative;
    overflow: visible;
}

.astronavlinks .astroheadlinks {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding: .4rem .7rem;
    background: #ffffff5c;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.astronavlinks .astroheadlinks:hover {
    transform: translateY(-3px);
    box-shadow: 1px 1px 5px #bebebe, -1px -1px 5px #ffffff;
}

.astroprofile:hover {
    transform: scale(1.08) translateY(-3px);
} */

.navbar_container__Vlp2f {
    position: fixed !important;
    top: 0;
    /* width: 100vw; */
    z-index: 55;
    display: flex;
    justify-content: center;
    background: transparent;
    /* padding: 10px 0; */
    /* padding-right: 20px; */
    /* margin-left: 49px; */
    margin-left: 0px;
    /* margin-right: px; */

}

.navbar_container__Vlp2f .navbar_astrohead__qPEhV {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 92vw; */
    width: 100vw;
    /* width: 100vw; */
    
    /* max-width: 1200px; */
    padding: 15px 20px ;
    /* border-radius: ; */
    border-bottom-right-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(15px);
    box-shadow: inset 3px 3px 10px #371c57, inset -3px -3px 10px #5e307d;
    background-color: #2f1254;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar_astronavlinks__GWRhg {
    display: flex;
    gap: 15px;
    position: relative;
    overflow: visible;
}

/* Navbar Links */
.navbar_astronavlinks__GWRhg .navbar_astroheadlinks__H_6hl {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 0.5rem 0.8rem;
    background: #ffffff5c;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.navbar_astronavlinks__GWRhg .navbar_astroheadlinks__H_6hl:hover {
    transform: translateY(-3px);
    box-shadow: 1px 1px 5px #bebebe, -1px -1px 5px #ffffff;
}

/* Profile Hover Effect */
.navbar_astroprofile__GJFB8:hover {
    transform: scale(1.08) translateY(-3px);
    
    /* margin-left: 1rem; */
}

/* Responsive Styles */
@media (max-width: 1410px) { /* Tablets */
    .navbar_container__Vlp2f .navbar_astrohead__qPEhV {
        /* width:90vw; */
        padding: 15px;
    }
    
    .navbar_astronavlinks__GWRhg {
        gap: 10px;
    }

    .navbar_astronavlinks__GWRhg .navbar_astroheadlinks__H_6hl {
        padding: 0.4rem 0.6rem;
        font-size: 14px;
    }
    
    .navbar_astronavlinks__GWRhg .navbar_astroprofile__GJFB8 img {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 1024px) { /* Tablets */
    .navbar_container__Vlp2f .navbar_astrohead__qPEhV {
        width:100vw;
        padding: 15px;
    }
    
    .navbar_astronavlinks__GWRhg {
        gap: 10px;
    }

    .navbar_astronavlinks__GWRhg .navbar_astroheadlinks__H_6hl {
        padding: 0.4rem 0.6rem;
        font-size: 14px;
    }
    
    .navbar_astronavlinks__GWRhg .navbar_astroprofile__GJFB8 img {
        width: 30px;
        height: 30px;
    }
}
@media (min-width: 769px){
    .navbar_logoImage__gAts_{
        margin-left: 0;
    }
}

@media (max-width: 768px) { /* Mobile */
    

    .navbar_container__Vlp2f .navbar_astrohead__qPEhV {
        /* width: 100vw; */
        flex-direction: column;
        /* align-items: center; */
        padding: 10px;
        border-radius: 0;
        /* padding-right: ; */
        /* margin-right: 30px; */
       
    }

    .navbar_astronavlinks__GWRhg {
        flex-direction: row;
        /* justify-content: center; */
        gap: 8px;
        /* margin-top: 10px; */
    }

    .navbar_astronavlinks__GWRhg .navbar_astroheadlinks__H_6hl {
        padding: 0.3rem 0.5rem;
        font-size: 13px;
    }

  
}
/* @media (max-width: 468px) {
    .container .astrohead {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        border-radius: 8px;
    } */
  /* .container{
    flex-direction: column;
    justify-content: space-between;
  }
    .astronavlinks {
        flex-direction: row;
        justify-content: center;
        /* gap: px; 
        margin-top: 8px;
    }

    .astronavlinks .astroheadlinks {
        padding: 0.2rem 0.4rem;
        font-size: 12px;
    }

    .astronavlinks .astroprofile img {
        width: 25px;
        height: 25px;
    }

    .container .astrohead img {
        /* width: 100px; Reduce logo size 
        height: auto;
    }
}
@media (max-width: 487px) {
    .container .astrohead {
        width: 100vw;
        flex-direction: column; */
        /* justify-content: space-between; */
        /* padding: 10px;
        border-radius: 8px; */
    /* }
} */
@media (max-width: 468px) {
    .navbar_astrohead__qPEhV{
        /* width:100%; */
        width:50rem;
        /* width: 100vw; */
        flex-direction: column;
        display: flex;
        /* margin-left: 10rem; */
        justify-content: space-between;
        padding: 10px;
        /* border-radius: 8px; */
        /* position:absolute; */
        /* margin-left: 50px; */
        /* justify-content: stretch; */

    }  
    .navbar_container__Vlp2f{
        width: full;
    }
}



/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/navbar2/navbar2.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.navbar2_topMainDash__iqli3 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    background-color: #7e60bf;
    /* border-radius: 1rem; */
    /* border-bottom-right-radius: 1rem; */
    width: 100%;
    max-width: 100%;
   
  }
  
  .navbar2_topGreetH3__Nw_z7 {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  
  .navbar2_nameDy__rtxMe {
    color: white;
    font-size: 1.2rem;
    margin-left: .3rem;
  }
  
  .navbar2_dashSpanInp__Jr1mS {
    display: flex;
    align-items: center;
    gap: .4rem;
    background: white;
    padding: .2rem 1rem;
    border-radius: 12px;
  }
  
  .navbar2_dashInp__0Esbl {
    border: none;
    outline: none;
    background: transparent;
    color: #000000;
    font-size: .95rem;
    letter-spacing: 1px;
    border-bottom: 1px solid #77777740;
  }
  
  
  @media (min-width: 769px) and (max-width: 1279px) {
    .navbar2_topMainDash__iqli3 {
       margin-top: 4.8rem;
        margin-left: 15.4rem;
      border-radius: 12px;
        width: auto;
        max-width: calc(100% - 17.4rem);
    }
  }
  
 
  @media (min-width: 1280px) {
    .navbar2_topMainDash__iqli3 {
      margin-left: 15.4rem;
      margin-top: 4.8rem;
      border-radius: 12px;
      width: auto;
      max-width: calc(100% - 17.4rem);
    }
  }
  
  /* ✅ Tablets and small devices */
  @media (max-width: 768px) {
    .navbar2_topMainDash__iqli3 {
      /* padding: 0.5rem 0.75rem; */
      flex-direction: row;
      width: 100vw;
    }
  
    .navbar2_topGreetH3__Nw_z7,
    .navbar2_nameDy__rtxMe {
      font-size: .85rem;
    }
  
    .navbar2_dashInp__0Esbl {
      font-size: .75rem;
    }
  }
  
  /* ✅ Small phones */
  @media (max-width: 468px) {
    .navbar2_topMainDash__iqli3 {
      padding: 0.5rem 0.5rem;
    }
  
    .navbar2_dashInp__0Esbl {
      font-size: .65rem;
    }
  
    .navbar2_topGreetH3__Nw_z7,
    .navbar2_nameDy__rtxMe {
      font-size: .75rem;
    }
  
    .navbar2_dashSpanInp__Jr1mS {
      height: 4.5vh;
    }
  }
  
  /* ✅ Very small phones */
  @media (max-width: 321px) {
    .navbar2_topMainDash__iqli3 {
      padding: 0.5rem 0.3rem;
    }
  
    .navbar2_dashInp__0Esbl {
      font-size: .6rem;
      width: 5.5rem;
    }
  
    .navbar2_topGreetH3__Nw_z7,
    .navbar2_nameDy__rtxMe {
      font-size: .7rem;
    }
  
    .navbar2_dashSpanInp__Jr1mS {
      padding: .5rem .5rem;
    }
  }
  
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/nfoooter/foot.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.foot_footer__YD_sc {
    width: 100%;  
    background-color: #2f1254;
    padding: 1rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    border-top: .5px rgba(255, 255, 255, 0.545) outset;
    margin-top: .2rem;
}

.foot_dashFootP__GPKQI {
    /* font-size: 0.9rem; */
    color: #fff;
   
    width: 100%;
}

.foot_dashFootUl__C4Dsg {
    list-style-type: none;
    /* display: flex;
    flex-direction: row;  */
    /* flex-wrap: wrap; */
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
}

.foot_dashFA__ls6Dr {
    text-decoration: none;
    color: #c69cf3bb;
    /* font-size: 0.9rem; */
    transition: color 0.3s ease-in-out;
}

.foot_dashFA__ls6Dr:hover {
    color: #ffffffbb;
    transform: scale(1.03);
}

@media (min-width: 768px){
    .foot_dashFootUl__C4Dsg{
        justify-content:end;
    }
}


